{% block content %}
{% load static %}
<li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
 <div class="user-nav d-sm-flex d-none"><span class="user-name"></span><span class="user-status text-muted"></span></div><span><img class="round" src="{% static 'admin_panel/app-assets/images/portrait/small/avatar-blank.png' %}" alt="avatar" height="40" width="40"></span>
</a>

<div class="dropdown-menu dropdown-menu-right pb-0">
    <a class="dropdown-item" href=""><i class="bx bx-user mr-50"></i> Личный кабинет</a>
    <div class="dropdown-divider mb-0"></div>
    <a class="dropdown-item" href="{% url 'logout' %}"><i class="bx bx-power-off mr-50"></i> Выйти</a>
</div>
</li>
{% endblock %}  